## C

# Object files
*.o
*.lo
*.la

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app


## Autotools

# http://www.gnu.org/software/automake
Makefile.in

# http://www.gnu.org/software/autoconf
autom4te.cache/
aclocal.m4
compile
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
missing
build/config.h
build/config.log
build/config.status
build/stamp-h1

# https://www.gnu.org/software/libtool/
ltmain.sh
build/libtool

# http://www.gnu.org/software/m4/
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

# Generated Makefile
Makefile


## vim
.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~


## liblbfgs-specific
INSTALL
build/lib/.deps/
build/lib/.libs/
build/sample/.deps/
build/sample/.libs/
build/sample/sample


## JetBrains
.idea/
